/* resets */
*,
*::before,
*::after {  
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
	width:100%;
	height:100%;
	height:100vh;
}

/* IE */
.grid-row {
  zoom: 1; /* ie 6/7 */
}

/* Testing */
/*.container {
	border:1px red dashed;
}*/
/*.grid-row {
	border:1px blue dashed;
} */
.grid-border {
	border:1px green dashed;
} 
.grid-row.empty {
	height:300px;
	overflow:hidden;
}
.grid-row.empty .grid-cell, .grid-row.empty .grid-cell.box > div {
	height:100%;
}
.grid-row.empty > .grid-row, .grid-row.empty > .grid-cell, .grid-row.empty > .grid-cell > .grid-row {
	height:100%;
}
.grid-row.empty > .grid-cell > .grid-row.half {
	height:50%;
}

/* grid */
.container, .grid-inner, .grid-container {
	width:100%;
	padding: 0; /* 1.4%; */
	/*max-width:1024px;*/
	margin:auto;
	height:auto;
	overflow: hidden;
}
 .grid-inner.main {
	 padding: 2.8% 0; /* 1.4%; */
 }
	
.grid-row {
	height:auto;
	width:100%;
	letter-spacing:-0.3em;
	word-spacing:-0.3em;
	/*overflow:hidden;*/
	/* white-space:nowrap; */
}

.grid-cell, .combine {
	display:inline-block;
	/*min-height: 50px; */
	height:auto;
	vertical-align: top;
	letter-spacing:0px;
	word-spacing:0px;
	/*overflow:hidden;*/
	position:relative;
}

.splash {
	position:relative;
	margin-bottom: 1.4%!important;
	z-index:-1;
}

.screen-height {
	height:100%;
	height:100vh;
	/*overflow:hidden;*/
}

/*-- Row and Colums gutters --*/
.grid-row > .grid-cell {
	padding-bottom: 2.8%;
}
.grid-row.no-gap > .grid-cell, .grid-row.join-bottom > .grid-cell, .grid-row div.grid-row > .grid-cell {
	margin: 0;
	padding:0;
}

.grid-row.col-gap > .grid-cell, .grid-row > .grid-cell.col-gap {
	padding-right: 3%;
}
.grid-row.col-gap > .grid-cell:last-child {
	padding-right: 0;
} 
.grid-row.col-gap-large > .grid-cell, .grid-row > .grid-cell.col-gap-large {
	padding-right: 6%;
}
.grid-row.col-gap > .grid-cell:last-child, .grid-row > .grid-cell.col-gap:last-child,
.grid-row..col-gap-large > .grid-cell:last-child, .grid-row > .grid-cell..col-gap-large:last-child{
	padding-right: 0;
} 
/*.grid-row.col-gap .grid-cell .inner {
	padding-right:28px;
}
.grid-row.col-gap .grid-cell:last-child .inner {
	padding-right:0;
} */

/* Calculation for widths */
/* 
*  grid cell left, grid cell right margin- 1.4%
	row negative left, row negative right margin - 1.4%
	
	So only internal margins needed for calculation
	
	with width 1024px, 1.4% = 14.336px
	
	However, row width is increased due to the negative margins to offset cell.
	
	Row is 2.8% bigger, so our cell 1.4% margins are a % of 1024 + 2.8% (1052.67)
	
	So 1.4% * 2.8% = 1.4392%
	
	1.44% * 2 = 2.88%
	
	rounded up to 2.88%
	
	grid half
	--------
	grid cell right+ grid cell left margin = 2.89%
	100% width - 2.89%  = 97.11%,  97.11% / 2 = 48.56%

*
*/

/* Base + Natural column widths */

/*  .grid-full, .grid-row-cols-1 div.grid-cell { width: 100%; }
.grid-five-sixths { width: 83.33%; }
.grid-four-fifths { width: 80%; }
.grid-three-quarters { width: 75%; }
.grid-two-thirds, .grid-four-sixths { width: 66.67%; }
.grid-three-fifths { width: 60%; }
.grid-half, .grid-row-cols-2 div.grid-cell { width: 50%; }
.grid-two-fifths { width: 40%; }
.grid-third,  .grid-two-sixths, .grid- .grid-row-cols-3 div.grid-cell { width: 33.33%; }
.grid-quarter, .grid-fourth, .grid-row-cols-4 div.grid-cell { width: 25%; }
.grid-fifth, .grid-row-cols-5 div.grid-cell { width: 20%; }
.grid-sixth, .grid-row-cols-6 div.grid-cell { width: 16.667%; }   */

/*.grid-seventh, .grid-row-cols-7 div.grid-cell { width: 11.48%; }
.grid-eighth, .grid-row-cols-8 div.grid-cell { width: 9.7%; }*/

.grid-full, .grid-row-cols-1 div.grid-cell,
.grid-five-sixths,
.grid-four-fifths,
.grid-three-quarters,
.grid-two-thirds, .grid-four-sixths,
.grid-three-fifths,
.grid-half, .grid-row-cols-2 div.grid-cell,
.grid-two-fifths,
.grid-third,  .grid-two-sixths, .grid- .grid-row-cols-3 div.grid-cell  { width: 100%; }
.grid-quarter, .grid-fourth, .grid-row-cols-4 div.grid-cell,
.grid-fifth, .grid-row-cols-5 div.grid-cell,
.grid-sixth, .grid-row-cols-6 div.grid-cell { width: 50%; }

@media only screen and (max-width: 479px) {
	.debug.screen-size::after {
		content:"narrow"
	}	
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.debug.screen-size:after {
		content:"medium"
	}	
		
	.grid-full, .grid-row-cols-1 div.grid-cell,
	.grid-five-sixths,
	.grid-four-fifths,
	.grid-three-quarters, 
	.grid-two-thirds, .grid-four-sixths,
	.grid-three-fifths,
	.grid-half, .grid-row-cols-2 div.grid-cel   { width: 100%; }
	.grid-two-fifths,
	.grid-third,  .grid-two-sixths, .grid- .grid-row-cols-3 div.grid-cell,
	.grid-quarter, .grid-fourth, .grid-row-cols-4 div.grid-cell,
	.grid-fifth, .grid-row-cols-5 div.grid-cell,
	.grid-sixth, .grid-row-cols-6 div.grid-cell  { width: 50%; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.debug.screen-size::after {
		content:"wide"
	}	
	
	.grid-full, .grid-row-cols-1 div.grid-cell,
	.grid-five-sixths,
	.grid-four-fifths { width: 100%; }
	.grid-three-quarters, 
	.grid-two-thirds, .grid-four-sixths,
	.grid-three-fifths { width: 75%; }
	.grid-half, .grid-row-cols-2 div.grid-cell,
	.grid-two-fifths,
	.grid-third,  .grid-two-sixths, .grid- .grid-row-cols-3 div.grid-cell { width: 50%; }
	.grid-quarter, .grid-fourth, .grid-row-cols-4 div.grid-cell,
	.grid-fifth, .grid-row-cols-5 div.grid-cell,
	.grid-sixth, .grid-row-cols-6 div.grid-cell { width: 25%; }
	
	/* add margin  amount  + */
	.push-three-quarters,
	.push-two-thirds { margin-left: 66.67%; }
	.push-half, .grid-row-cols-2 div.grid-push,
	.push-two-fifths, .grid-row-cols-2-5 div.grid-push,
	.push-third, .grid-row-cols-3 div.grid-push  { margin-left: 25%; }
	.push-quarter, .grid-row-cols-4 div.grid-push,
	.push-fifth, .grid-row-cols-5 div.grid-push,
	.push-sixth, .grid-row-cols-6 div.grid-push { maring-left: 12.5%; }
}

@media only screen and (min-width: 992px) and (max-width: 1999px) {
	.debug.screen-size:after {
		content:"very wide"
	}
	
	.grid-five-sixths { width: 83.33%; }
	.grid-four-fifths { width: 80%; }
	.grid-three-quarters { width: 75%; }
	.grid-two-thirds, .grid-four-sixths { width: 66.67%; }
	.grid-three-fifths { width: 60%; }
	.grid-half, .grid-three-sixths, .grid-row-cols-2 div.grid-cell { width: 50%; }
	.grid-two-fifths { width: 40%; }
	.grid-third,  .grid-two-sixths, .grid-row-cols-3 div.grid-cell { width: 33.33%; }
	.grid-quarter, .grid-fourth, .grid-row-cols-4 div.grid-cell { width: 25%; }
	.grid-fifth, .grid-row-cols-5 div.grid-cell { width: 20%; }
	.grid-sixth, .grid-row-cols-6 div.grid-cell { width: 16.667%; } 
	
	/* .grid-row.three-cells div.grid-cell { width: 33.33%; }
	 .grid-row.three-cells div.push-two-fifths { margin-left: auto; } */
	
	/* add margin  amount  + */
	.push-three-quarters { left: 75%; }
	.push-two-thirds { left: 66.67%; }
	.push-half, .grid-row-cols-2 div.grid-push { left: 50%; }
	.push-two-fifths, .grid-row-cols-2-5 div.grid-push { margin-left: 40%; }
	.push-third, .grid-row-cols-3 div.grid-push { left: 33.33%; }
	.push-quarter, .grid-row-cols-4 div.grid-push { left: 25%; }
	.push-fifth, .grid-row-cols-5 div.grid-push { left: 20%; }
	.push-sixth, .grid-row-cols-6 div.grid-push { left: 16.67%; }


/* ----------------PUSH-------------------------------- */
.push-all,
.push-three-quarters,
.push-two-thirds,
.push-half, .grid-row-cols-2 div.grid-push,
.push-two-fifths, .grid-row-cols-2-5 div.grid-push,
.push-third, .grid-row-cols-3 div.grid-push,
.push-quarter, .grid-row-cols-4 div.grid-push,
.push-fifth, .grid-row-cols-5 div.grid-push,
.push-sixth, .grid-row-cols-6 div.grid-push { position:relative;}

/* ------------ CELL GAPS ---------*/

/* sould boxes or cells have the margin when not joined? */
/*.grid-row {
margin-left:-15px;
margin-right:-30px;	
}*/
/*.grid-row::before, .grid-row::after {
    content: " ";
    display: table;
} */
/*.grid-row {
	margin-left:-7%;
	overflow:hidden;
}*/
.grid-row.gap {
	overflow:hidden;
	margin-left:-3%;
	width:103%;
}
.grid-row.gap > .grid-cell {
	padding-left:3%;
} 
/*.grid-cell.gap:last-child {
	padding-right:0;
} */
/*.grid-cell.gap:first-child {
	padding-left:0;
} */
/* .grid-cell.gap > .inner {
	padding-right:20%;
} 
.grid-cell.gap:last-child > .inner  {
	padding-right:0;
} */
/*.grid-cell.gap:first-child > .inner {
	padding-left:0;
} */

/* ----------------------------------- */

/* ------------ BOXES ------------- */
.grid-cell.box > div {
	background:#eeeeee;
	padding:10%;
}
.grid-cell.indent > div, .grid-cell.padded > div {
	padding-left:14%;
	padding-right:14%;
}
.grid-cell.padded > div {
	padding-top:10%;
	padding-bottom:10%;
}
.grid-cell > div.sides {
	padding-top:0;
	padding-bottom:0;
} 
.grid-cell.text:first-child {
	margin-left:-15px;
}
.grid-cell.text:last-child {
	margin-right:-15px;
}  
/*.grid-cell.box:first-child > div {
	padding-left:0;
	width:90%;
}  /*.full, .grid-cell.box:first-child > div.sides*/
/*.grid-cell.box:last-child > div  {
	padding-right:0;
	width:90%;
} /*.full,  .grid-cell.box:last-child > div.sides*/
.grid-cell.box:first-child:nth-last-child(1) > div,
.grid-cell.box:first-child:last-child > div {
	margin-right:0;
	margin-left:0;
	padding-left:10%;
	padding-right:10%;
}
/*.grid-cell.box:first-child div.padded,
.grid-cell.box:last-child div.padded {
	margin-right:0;
	margin-left:0;
	padding-left:14%;
	padding-right:14%;
} */
/*.grid-cell:first-child .grid-cell:last-child > .box {
	padding-right: 15px; 
} /* reset when part of inner grid */
/*.grid-cell:last-child .grid-cell:first-child > .box {
	padding-left: 15px; 
} /* reset when part of inner grid */

/*.grid-cell > .box:first-child {
	margin-left:0;
} 
.grid-cell > .box:last-child {
	margin-right:0;
} */
.grid-cell > div h1, .grid-cell.box > div h2, .grid-cell.box > div h3, .grid-cell.box > div h4, .grid-cell.box > div h5, .grid-cell.box > div h6
/*.grid-cell > p, .grid-cell .box p*/ {
	margin-top:0;
}
.grid-cel.box > div p {
  word-break: break-all;
}

/* --------- DIFFERENT BOXES ---------- */
.grid-cell.box > div.box-lite {			/* TODO:  add box to HTML then .box.box-lite  etc  */
	margin:15px 15px 0 15px;
		padding:0;
		border:1px #cccccc solid;
}

.grid-cell > p, .grid-cell.box > div.box-product > p {   /* TODO:  add box to HTML then .box.box-product  etc  */
	margin-top:0;
}
.grid-cell.box > div.box-product {
    margin: auto;
    padding: 30px;
    text-align: center;
}
.grid-cell > p, .grid-cell.box .box-product > p {
	margin-top:0;
}

/* -------- BOX CUSTOM ----------*/

.grid-cell > div.join-top {
	padding-top:0;
}
.grid-cell > div.join-left {
	padding-left:0;
}
.grid-cell > div.join-right {
	padding-right:0;
}
.grid-row.join-bottom, .grid-cell.box > div.join-bottom {
	padding-bottom:0;
}
.grid-cell:first-child >div.join-next {
	padding-right:5%;
}
.grid-cell:last-child >div.join-next {
	padding-left:5%;
}

/* --------- IMAGES ---------- */
.grid-cell .image-container {
	white-space: nowrap;	
	height:100%;
}
.grid-cell img, .grid-cell img.responsive {
	max-height: 100%;
	max-width: 100%;
	padding:0;
}
.grid-cell img.height, .grid-cell img.responsive.height {
	zoom: 2; 
	width: auto;
	height: 100%;
}
.grid-cell img.centred {
	margin:auto;
	text-align:center;
	vertical-align: middle;
}
.image-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/* --------- LINKS --------------- */
.grid-cell  a {
	display:block;
}

/* -------- ALIGNMENTS ----------- */
.grid-cell .indent {
	padding-left:4.5%;
	/*padding-right:7%; */
}

.grid-cell .inline {
display:inline-block;
width:auto;
margin-right:5%;	
}
.grid-cell *:last-child.inline {
margin-right:0;	
}
.grid-cell .holder {
	position:relative;
}
.grid-cell > .fixed {
	position:fixed;
	width:inherit;
}
.grid-row img.centred, div.centred, section.centred, a.centred, 
.grid-cell .centred {
	/*height: auto;	 */
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	vertical-align:middle;
	display:block;
	max-width:95%;
}
.grid-row ul.centred li {
	  display:inline-block;
	  *display:inline; /*IE7*/
	  *zoom:1; /*IE7*/
	  width:80%;
}
.grid-row img.middle, div.middle, section.middle, a.middle, 
.grid-cell .middle {
	/*height: auto;	 */
	/*display: table-cell;
	margin-top:auto;
	margin-bottom:auto;
	vertical-align:middle;
  vertical-align: middle; */
    display: inline-block;
    vertical-align: middle;
    height:100%;
}
.grid-row img.middle > div, div.middle > div, section.middle > div, a.middle > div, 
.grid-cell .middle > div {
	/*display: inline-block;
	height:80%; */
	display: inline-block; vertical-align: middle;
}
.grid-cell.right, .grid-cell > .right {
	text-align:right;
	
}
.grid-cell > .right {
	position:relative;
	right:0px;
}

.grid-cell .gap-left {
		padding-left:20px;
}
.grid-cell .gap-right {
		padding-right:20px;
}
.grid-cell .gap-top {
		margin-top:2%;
}
.grid-cell .gap-bottom {
		margin-top:18px;
}

.join-top {
	padding-top:0!important;
	margin-top:0!important;
}

.full-height {
	height:100%;
}

.container ul, .grid-container ul, .splash ul {
	margin:0;
	padding:0;
	list-style-type:none;
}


/*-- some extra column content styling --*/
/*.grid-cell > p,
.grid-cell > h1, .grid-cell > h2, .grid-cell > h3, .grid-cell > h4, .grid-cell > h5, .grid-cell > h6 {
	padding-left:10%;
	padding-right:10%;
	margin-left:auto;
	margin-right:auto;
} */
/*.grid-cell > p {
	padding-top:15px;
	padding-bottom:15px;
}*/

.grid-cell h1, .grid-cell h2, .grid-cell h3, .grid-cell h4, .grid-cell h5, .grid-cell h6 {
	margin-top:0.5em;
}
.grid-cell h1 {
	margin-bottom:0.8em;
}
.grid-cell h2 {
	margin-bottom:0.8em;
}
.grid-cell h3 {
	margin-bottom:0.5em;
}
.grid-cell h4, .grid-cell h5, .grid-cell h6 {
	margin-bottom:0.1em;
}

.grid-cell .logo.inner {
		padding:10% 15% 15% 15%;
}
.grid-cell .display-inner {
		padding:70px 30px 30px 30px;
}
/*.grid-cell .inner ~ .inner, .grid-cell .inner + .inner {
	padding-top:0;
	padding-bottom:15px;
} */

.grid-cell .align-right {
text-align:right;  
 display:inline-block;
    width:100%;
}

.grid-cell button, .grid-cell .button {
	display: block; 
	position:relative;
	width:auto;
	padding:5px 10px;
	background:#111111;
	border:none;
	color:#eeeeee;
	text-align:center;
	margin: 0 auto;
}

/*   APPREEANCE  */
.box-shadow {	
   margin-left: 2%;
    margin-right: 2%;
	 margin-bottom: 2%;
    width: 96%;
-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
}

.bg-light {
		background:#f4f7fc;
}
.bg-dark {
		background:#141414;
		color:#ffffff;
}
.bg-1 {
		background:#eeeeee;
}
.bg-2 {
		background:#818DA1;
}
.bg-3 {
	background:#cccccc;
}
.bg-4 {
	background:#bbbbbb;
}
.bg-5 {
	background:#aaaaaa;
}
.bg-yellow {
	background:#FBEA22;
}
.border {
	border:1px #cccccc solid;
}

.large-text {
	font-size:1.2em;
}

.text-box {
	margin-top:0.5em;
	padding-left:4.5%;
	padding-top:2%;
	padding-bottom:2%;
	padding-right:2%;
}
.text-box h5 {
	margin:0;
}

/* ----------- FORMS ---------- */

.grid-cell form.responsive {
	width:100%;	
}
.grid-cell form.responsive fieldset {
	border:none;
	border:0;
	padding:0;
}
.grid-cell form.responsive input {
	width:85%;
	margin-bottom:3%;
}
.grid-cell form.responsive textarea {
	width:100%;	
}
.grid-cell form.responsive input, .grid-cell form.responsive textarea {
background-color: #E6E4E4;
}
.grid-cell form.responsive div.align-right {
	text-align:right;
}
.grid-cell form.responsive button {
    display: inline;
    left: auto;
    position: relative;
    right: 0;
    text-align: right;
}

/* ------ DEBUG --------- */
.grid-row {
	//margin: 0 0 1em 0;
}
.grid-cell, .grid-row-defined .grid-cell {
	//margin: 0;
}
.debug {
	position:absolute;
		letter-spacing:0px;
	word-spacing:0px;
	background: rgba(255,255,255,0.5);
	z-index:9999999;
}
.debug.rel {
		position:relative;
}
.info {
		letter-spacing:0px;
	word-spacing:0px;
}

.debug {
	display:block; /* display:hidden!important */
}
