
/* ----------EXPERIMENTAL---------- */
.combine {
	position:relative;

	margin: 0 15px;
}
.combine .grid-cell {
	position:relatlve;
	margin:0;
			-webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
		padding-left:15px;padding-right:15px;
}
.combine .content {
	position:absolute;
	left:0px;
	top:0px;
}
/* ------------------------- */

/* add margin  amount  + */
/* .push-three-quarters { left: 75%; }
.push-two-thirds { left: 66.67%; }
.push-half, .grid-row-cols-2 div.grid-push { left: 50%; }
.push-two-fifths, .grid-row-cols-2-5 div.grid-push { margin-left: 40%; }
.push-third, .grid-row-cols-3 div.grid-push { left: 33.33%; }
.push-quarter, .grid-row-cols-4 div.grid-push { left: 25%; }
.push-fifth, .grid-row-cols-5 div.grid-push { left: 20%; }
.push-sixth, .grid-row-cols-6 div.grid-push { left: 16.67%; } */

/*.push-seventh, .grid-row-cols-7 div.grid-push { left: 14.29%; }
.push-eighth, .grid-row-cols-8 div.grid-push { left: 12.5%; }*/

.expand-wrapper {
	margin:0 -42px 0 -14px;
}
.grid-row-expand {
	display:table;
	table-layout: fixed;
	width: 100%;
	border-collapse: separate;
	border-spacing: 28px 0;
}

/* unspecified grid */
.grid-row-expand .grid-cell {
	overflow:hidden; 
	display:table-cell; 
	/*width:100%; 
	white-space: nowrap;*/
  text-overflow: ellipsis;
}

.grid-row-expand .grid-full { width: 97.2%; }
.grid-row-expand .grid-two-thirds { width:209%; }
.grid-row-expand .grid-half { width: 47.15%; }
.grid-row-expand .grid-third { width: 30.53%; }
.grid-row-expand .grid-quarter { width: 22.18%; }
.grid-row-expand .grid-eighth { width: 9.7%; }

	.grid-row-fluid .push-cell {
		margin-left:0;
	}
		
	/* one item */
	.grid-row-fluid .grid-cell:first-child:nth-last-child(1) {
	  width: 100%;
	}

	.grid-row-fluid {
		min-width:100%;
		width:100%;
	}
	/* two items */
	.grid-row-fluid .grid-cell:first-child:nth-last-child(2),
	.grid-row-fluid .grid-cell:first-child:nth-last-child(2) ~ div.grid-cell {
	  width: 50%;
	}
	
	.grid-row-fluid .grid-cell.third-col:first-child:nth-last-child(2),
	.grid-row-fluid .grid-cell.third-col:first-child:nth-last-child(2) ~ div.grid-cell.third-col {
	  width: 20%;
	  margin-right:30%;
	}
	.grid-row-fluid .grid-cell.half-col:first-child:nth-last-child(2),
	.grid-row-fluid .grid-cell.half-col:first-child:nth-last-child(2) ~ div.grid-cell.half-col {
	  width: 25%;
	  margin-right:25%;
	}
	.grid-row-fluid .grid-cell.medium:first-child:nth-last-child(2),
	.grid-row-fluid .grid-cell.medium:first-child:nth-last-child(2) ~ div.grid-cell.medium {
	  width: 37,5%;
	  margin-right:12.5%;
	}
	
	/* three items */
	.grid-row-fluid .grid-cell:first-child:nth-last-child(3),
	.grid-row-fluid .grid-cell:first-child:nth-last-child(3) ~ div.grid-cell {
	  width: 33.3333%;
	}

	/* four items */
	.grid-row-fluid .grid-cell:first-child:nth-last-child(4),
	.grid-row-fluid .grid-cell:first-child:nth-last-child(4) ~ div.grid-cell {
	  width: 25%;
	}

	/* five items */
	.grid-row-fluid .grid-cell:first-child:nth-last-child(5),
	.grid-row-fluid .grid-cell:first-child:nth-last-child(5) ~ div.grid-cell {
	  width: 20%;
	}
	
		/* five items */
	.grid-row-fluid .grid-cell:first-child:nth-last-child(6),
	.grid-row-fluid .grid-cell:first-child:nth-last-child(6) ~ div.grid-cell {
	  width: 20%;
	}
}


#sidebar.grid-fifth {
		margin-right:20%;
}

/*.grid-8-cells { width: 97.2%; }
.grid-7-cells { width: 84.7%; }*/
.grid-6-cells { width: 72.2%; }
.grid-5-cells { width: 59.7%; }
.grid-4-cells { width: 47.2%; }
.grid-3-cells { width: 34.7%; }
.grid-2-cells { width: 22.2%; }
.grid-1-cells { width: 9.7%; }