body {
	font-size:14px;
	line-height:1.6em; 
	padding-top: 0px; /* Required for headerFF */
}

h1, h2, h3, h4, h5, h6, a, p {
	color: #111111;
	font-family: 'Myriad Pro', Helvetica, Arial, sans-serif;
}
h1 {
	font-size:1.5em;
}
h2 {
	font-size:1.2em;
}
h3 {
	font-size:1.2em;
}
h4, h5, h6 {
	font-size:1em;
}
