body {
   padding-top: 0px; /* Required for headerFF */
}

header {
}

#menu-primary {
		height:58px;
		/*width:68%;
		max-width:100%; */

    position: relative;
    width: 100%;
}
#menu-primary ul {
	height:100%;
	width:auto;
	display: table;
	/*border-collapse: separate;*/
	/*list-style-position: outside;
		list-style-image: url('/img/menuicon.png'); */
		
	/*display:inline;*/
   bottom: 0;
	    right: 0;
    height:100%;
    margin: auto;
    position: absolute;
    top: 0;
}
#menu-primary li {
	padding:0 8px;
	height:100%;
	width:auto;
	min-width: 40px;
	white-space:nowrap;
	display: table-cell;
	vertical-align: middle;	
	text-align:center;
}
#menu-primary a {
	text-decoration:none;
	/*text-transform:uppercase;*/
	color:#111111;
		background: url('/img/menuicon.png') no-repeat center left;
		padding-left:17px;
		text-align:left;
}
#menu-primary .menu-item.active a {
 font-weight:bold;	
}
#menu-primary li.image {
	overflow:hidden;
	text-align:left;
}
#menu-primary li.image .checkout-wrapper, #menu-primary li.image .snipcart-summary {
	display:inline-block;
}
#menu-primary li.image .checkout-wrapper a {
	padding-right:10px;
}
#menu-primary li.image .checkout-wrapper a, #menu-primary li.image .checkout-wrapper div {
	display:inline-block;
}

#menu-primary a.img {
	 /*padding-top:10px;*/
}

#sidebar {
		position:relative;
	vertical-align: bottom;
		bottom:auto;	
	margin-top:100%;
	 height:100%;
	min-height:100%;
	 	z-index:100001;
}

.bg-image {
  background: url(/img/red-velvet.png) no-repeat top left;
  background-size: cover;
}

.bg-main-image, .image1 {
  background: url(/img/mangano.jpg) no-repeat top left;
  background-size: cover;
}
.bg-main-image, .image2 {
  background: url(/img/shop-inside-back3.jpg) no-repeat top left;
  background-size: cover;
}

.move-down {
	margin-top:100%;
	margin-top:100vh;
}

/*header .container, header .grid-row, header .grid-cell {
		height:100%;	
	min-height:100%;
	overflow:hidden;
}*/
.logo-area {
	/*padding-bottom:10%; */
	height:58px;

}
a.image-container {
	width:100%;
	height:100%;
	position:relative;
}
a.image-container img {
	position:absolute;
	top:0;
	bottom:0;
	height: 50%;
	   margin:auto;
	width:auto;
}

/* ------- sub menu --------------- */
.onclick-menu {
	  /*  position: relative;
    display: block; */
	outline: 0;
	height:40px;
}
.onclick-menu:focus {
    /* clicking on label should toggle the menu */
    pointer-events: none;
}
/*.onclick-menu:focus .onclick-menu-content {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
} */
.onclick-menu:focus  + .onclick-menu-content, .onclick-menu:focus  ~ .onclick-menu-content,
.onclick-menu:focus  + .onclick-wrapper .onclick-menu-content, .onclick-menu:focus  ~ .onclick-wrapper .onclick-menu-content {
    /*  opacity is 1 in opened state (see below) */
    opacity: 1;
	 height:100%;
	   z-index: 100;
    /* don't let pointer-events affect descendant elements */
    pointer-events: auto;
}
.onclick-menu-content {
  /* position: relative;
		 top:15px; /* to make up for padding on parent element */
    z-index: 0;
    /* use opacity to fake immediate toggle */
    opacity: 0;
	  height:0;
	 -webkit-transition:height 0.3s ease, opacity 0.5s ease;
   -moz-transition:height 0.3s ease, opacity 0.5s ease;
     -o-transition: height 0.3s ease, opacity 0.5s ease;
    -ms-transition:height 0.3s ease, opacity 0.5s ease;
        transition: height 0.3s ease, opacity 0.5s ease;
		  
	/* for when no Shop button is used */ 
	
	    /*  opacity is 1 in opened state (see below) */
    opacity: 1;
	  height:100%;
	   z-index: 100;
    /* don't let pointer-events affect descendant elements */
    pointer-events: auto;
	 	padding-top:1em;
	padding-bottom:1em;
}
.onclick-menu-content .menu-inner {
		/*  overflow-y: auto;
		  /*  position: absolute; */
	height:100%;
}

/* ----------------------------------------- */

.box.custom-shape {
	/*background-repeat: no-repeat;
	background-position: center left;
	background-image: url(/img/leftshape.png);
	background-size:100% 100%;*/
	width:100%;
	height:auto;
	/*padding:25% 12% 0 14%;*/
	position:relative;
}
.box.custom-shape.box-right {
	/*	background-position: center right;
	background-image: url(/img/rightshape.png);*/
}
.box.custom-shape img {
	width:100%;
	height:auto;
	min-height:230px;
}
.box .inside-text {
	position:absolute;
	top:45%;
	left:17%;
	right:auto;
	margin:auto;
	width:72%;
	max-height:85px;
	overflow:hidden;
}
.box button.small-button, .box .button.small-button {
	margin-top: -24%; 
}
/*.box.hexagon {
  position: relative;
  width: 100%; 
  height: 100%;
  background-color: #64C7CC;
  margin: 25% 0;
}

.box.hexagon:before,
.box.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50% solid transparent;
  border-right: 50% solid transparent;
}

.box.hexagon:before {
  bottom: 100%;
  border-bottom: 25% solid #64C7CC;
}

.box.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 25% solid #64C7CC;
} */

#container{
	max-width: 600px;
	margin: 0 auto;
}
	#site-title{
		margin-bottom: 0;
	}
#main{
	padding: 30px;
}
a.go:after{
	content: "\f344";
	font-family: 'dashicons';
	vertical-align: top;
	margin-left: 0.5rem;
	margin-left: 5px;
	-webkit-font-smoothing: antialiased;
}
footer{
	border-top: 1px solid #E6E6E6;
	height:auto;
	line-height:45px;
}
footer .image-before::before {
	content:"";
	position:relative;
	display:inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	width:20px;
	height:20px;
	top:5px;
	margin-left:10px;
	margin-right:5px;
	line-height:30px;
}
footer .image-before.first::before {
	content:"";
	background-image: url('/img/footer1.png');
}
footer .image-before.second::before {
	content:"";
	background-image: url('/img/footer2.png');
}

/* === NAV === */
#menu-toggle-primary a{
	display: block;
	color: #fff;
	background: #444;
}
#menu-toggle-primary a:before{
	content: "\f203";
	font-family: 'dashicons';
	font-weight: 400;
	font-size: 20px;
	font-size: 2rem;
	vertical-align: top;
	margin-right: 0.5rem;
	margin-right: 5px;
	-webkit-font-smoothing: antialiased;
}
#menu-toggle-primary a.close-menu-primary:before{
	content: "\f158";
}
/* Hide Menu */
#menu-primary-items{
	display: none;
}
#menu-toggle-primary a.close-menu-primary{
	display: none;
}
/* Show Menu */
#menu-primary:target #menu-primary-items{
	display: block;
}
#menu-primary:target #menu-toggle-primary a.open-menu-primary{
	display: none;
}
#menu-primary:target #menu-toggle-primary a.close-menu-primary{
	display: block;
}


/*  slidebox */ 

.shadow {
	width: 100%;
	height: 20%;
	position: relative;
	/*	top:100px; */
	margin-top: -9%; 
	background: transparent url(/images/shadow.png) no-repeat bottom center;
	background-size: 100% 100%; /* stretches it */
	z-index: -1;
	/*display: none; */
}

.sb-description h3 {
	font-size: 20px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.sb-description h3 a {
	color: #4a3c27;
	text-shadow: 0 1px 1px rgba(255,255,255,0.5);
}

/* --------------------------------- */

.wrapper {
	position: relative;
	width: 100%;
	height:100%;
	margin: 0 auto;
	z-index:1000000000;
}
.wrapper .inner, .wrapper .inner ul, .wrapper .inner ul li  {
height:100%;
}	
/*.wrapper ul, .wrapper li {   ----------------------------------- commened out this
	height:auto;
}*/
.wrapper .inner ul li img {
	display:block;
	width:100%;
	height:auto;
	max-width: 100%;
}

/* ---------- GRID CUSTOMISATIONS ------------- */
.grid-container {
		max-width:1122px;
}
.grid-inner {
		max-width:960px;
}
.grid-cell .box, .grid-cell.box {
	background-color:transparent;
}