{{ $rellink := ( trim .RelPermalink "/" ) }} 
{{ $link_array := ( split $rellink "/" ) }}   									{{/* if and ( eq ( len $new_link_array ) 3 ) ( in $new_link_array ( index $link_array 1 ) ) */}}

{{ if ( lt ( len $link_array ) 3 ) }}

	<div class="grid-cell grid-third col-gap-large">
		<div class="inner">
			<h1>{{ .Title }}</h1>
			{{ .Content }}
		</div>
	</div>
	
{{ end }}