{{ $title_string := ( print "" ( .Title ) ) }}
{{ if .IsHome }}
	{{ $.Scratch.Set "page" "home"	}}
{{ else }}
	{{ $.Scratch.Set "page" "list"	}}
{{ end }}
{{ $.Scratch.Set "page_title" $title_string	}}

<div class="debug">
	TEMPLATE DEFAULT LIST ( content = {{ $.Scratch.Get "page" }} )
	<br/><br/>
	------------- DATA TERMS:  {{ .Data.Singular }} ----- ISPAGE: {{ .IsPage }} ------------- ISNODE: {{ .IsNode }}
	<br/><br/>
	---------  TYPE: {{ ( print ( $.Scratch.Get "page" ) ".html" )  }} ----------
</div>

{{ if ne ( $.Scratch.Get "page" ) "block" }}

	{{ partial "main.html" . }}
	
{{ end }}
