
{{ if lt ( len ( .Scratch.Get "link_array" ) ) 3 }}

	<div class="grid-cell grid-half">
		<div class="join-top join-next no-bg">
		
			<section class="grid-row">
				<div class="grid-cell grid-full">
					<div class="no-bg">
						<h3>{{ .Title }}</h3>
					</div>
				</div>
			</section>
			
			{{ $page_title := .Title }}
			
			<section class="grid-row gap">
					{{ range $new_count, $new_element := where $.Site.Pages "Section" ( $page_title | lower ) }}
						{{ $new_rellink := ( trim .RelPermalink "/" ) }} 
						{{ $new_link_array := ( split $new_rellink "/" ) }} 
						{{/* if and ( eq ( len $new_link_array ) 3 ) ( in $new_link_array ( index ( .Scratch.Get "link_array" ) 1 ) ) */}}

						{{ if and ( eq ( index $new_link_array 1 ) ( $page_title | lower ) ) ( in $new_link_array ( index ( .Scratch.Get "link_array" ) 2 ) ) ( gt ( len $new_link_array ) 3 ) }}
						
							<div class="grid-cell grid-third">
								<div class="inner">
									<img class="responsive centred" src="{{ $.Site.BaseURL }}/img/{{ .Title | urlize }}.png"/>
									<h3 class="centred">{{ .Title }}</h3>
									{{ .Content }}
								</div>
							</div>
						{{ end }}
					{{ end }}
			</section>
		</div>
	</div>
{{ end }}
