
{{ if lt ( len ( .Scratch.Get "link_array" ) ) 3 }}

	<div class="grid-cell grid-half">
		<div class="join-top join-next no-bg">
		
			<section class="grid-row">
				<div class="grid-cell grid-full">
					<div class="no-bg">
						<h3>{{ .Title }}</h3>
					</div>
				</div>
			</section>
			
			{{ $page_title := .Title }}
			
			<section class="grid-row gap">
				{{ .Content }}
			</section>
		</div>
	</div>
{{ end }}
