{{ $type_string := ( print "" ( .Type ) ) }}
{{ $title_string := ( print "" ( .Title ) ) }}

<div class="debug">
	TEMPLATE DEFAULT SINGLE ( content = {{ $type_string }} )
	<br/><br/>
	------------- DATA TERMS:  {{ .Data.Singular }} ----- ISPAGE: {{ .IsPage }} ------------- ISNODE: {{ .IsNode }}
	<br/><br/>
	Title: {{ ( $title_string ) }} - {{ .RelPermalink }} - {{ .LinkTitle }} - {{ $type_string }}
</div>
	
{{ if and ( ne $type_string "" )  ( not ( in .RelPermalink "block" ) ) }}
	{{ $.Scratch.Set "page" $type_string }}

	{{ $.Scratch.Set "page_title" $title_string }}
	{{ $.Scratch.Set "file" "{{ $type_string }}-single" }}

	{{ partial "main.html" . }}
	
{{ end }}