{{ $title_string := ( print "" ( .Title ) ) }}
{{ $.Scratch.Set "page" "taxonomy"	}}
{{ $.Scratch.Set "page_title" $title_string	}}

<div class="debug">
	TEMPLATE DEFAULT TAXONOMY ( content = {{ $.Scratch.Get "page" }} )
	<br/><br/>
	------------- DATA TERMS:  {{ .Data.Singular }} ----- ISPAGE: {{ .IsPage }} ------------- ISNODE: {{ .IsNode }}
	<br/><br/>
	---------  TYPE: {{ ( print ( $.Scratch.Get "page" ) ".html" )  }} ----------
</div>

	{{ partial "main.html" . }}
