{{ partial "head.html" . }}

{{ $.Scratch.Set "page" "promo" }}
{{ $.Scratch.Set "file" "promo-single" }}

{{ partial "header.html" . }}

<div class='grid-inner bg-light'>
	<section class="grid-row join-bottom">
		<div class="grid-cell grid-half">
			<div class="sides no-bg">
				<h1>{{ .Title }}</h1>
			</div>
		</div>
	</section>

	<section class="grid-row">
		{{ range $count, $element := where .Site.Pages "Section" ( .Title | lower ) }}
			{{ $rellink := ( trim .RelPermalink "/" ) }} 
			{{ $link_array := ( split $rellink "/" ) }} 

			{{ if eq ( len $link_array ) 2 }}
				<div class="grid-cell grid-half">
					<div class="join-top join-next no-bg">
					
						<section class="grid-row">
							<div class="grid-cell grid-full">
								<div class="no-bg">
									<h3>{{ .Title }}</h3>
								</div>
							</div>
						</section>
						
						<section class="grid-row gap">
								{{ range $count, $element := where $.Site.Pages "Section" ( $.Title | lower ) }}
									{{ $rellink := ( trim .RelPermalink "/" ) }} 
									{{ $new_link_array := ( split $rellink "/" ) }} 
									{{ if and ( eq ( len $new_link_array ) 3 ) ( in $new_link_array ( index $link_array 1 ) ) }}
										<div class="grid-cell grid-third">
											<div class="inner">
												<img class="responsive centred" src="{{ $.Site.BaseURL }}/img/{{ .Title | urlize }}.png"/>
												<h3 class="centred">{{ .Title }}</h3>
												{{ .Content }}
											</div>
										</div>
									{{ end }}
								{{ end }}
						</section>
					</div>
				</div>
			{{ end }}
		{{ end }}
	</section><!-- /.row -->
</div> <!-- grid-inner -->

{{ partial "footer.html" . }}
