{{ partial "head.html" . }}

{{ partial "header.html" . }}

<p>TEMPLATE DEFAULT TERMS</p>

{{ partial "contenttop.html" . }}

            <div class="row">
						
						<div> ------------------- OUTPUT IN TERMS --------------- </div>
							
            </div>

{{ partial "footer.html" . }}