{{ $.Scratch.Set "page" "page" }}
{{ $.Scratch.Set "file" "page-single" }}

{{ partial "head.html" . }}

{{ partial "header.html" . }}

<section class="grid-row">
	<div class="grid-cell grid-half">Grid 1-2</div>
	<div class="grid-cell grid-quarter">Grid 1-4</div>
	<div class="grid-cell grid-quarter">Grid 1-4</div>
</section><!-- /.row -->

<section class="grid-row">
	<div class="grid-cell grid-half">
		<div class="box no-bg">Box 1-2</div>
	</div>
	<div class="grid-cell grid-quarter">
		<div class="box custom-shape">Box 1-4</div>
	</div>
	<div class="grid-cell grid-quarter">
		<div class="box custom-shape">Box 1-4</div>
	</div>
</section><!-- /.row -->

							{{ range .Data.Pages }}
								{{ if eq .RelPermalink "/homepage/" }} 
									{{ .Content }} 					
								{{ end }}
							{{ end }}

{{ partial "footer.html" . }}
