<div class='grid-cell grid-{{ .Get "cell" }}'>
	<div class="inner">
		<img class="responsive centred" src='/img/{{ ( .Get "title" ) | urlize }}.png'/>
		<h3 class="centred">{{ .Get "title" }}</h3>
		{{ .Inner }}
	</div>
</div>