{{/* printf "%#v" . */}} 
<form class="responsive">
    <fieldset>
			<div class="">
				 <input id="first-name" class="" type="text" required placeholder='{{ .Get "name" }}' >
			</div>
			<div class="">
				 <input id="email" class="" type="email" required placeholder='{{ .Get "email" }}' />
			</div>
			<div class="">
				 <input id="first-name" class="" type="text" required placeholder='{{ .Get "tel" }}' >
			</div>
			<div class="">
				 <textarea id="details" class="" type="text" placeholder='{{ .Get "message" }}' ></textarea>
			</div>
			<div class="align-right">
				<button type="submit" id="requestformbutton">{{ .Get "submit" }}</button>
			</div>
    </fieldset>
</form>