{{ partial "head.html" . }}

{{ $.Scratch.Set "page" "promo" }}
{{ $.Scratch.Set "file" "promo-single" }}

{{ partial "header.html" . }}

<div class='grid-inner bg-light'>

	<section class="grid-row">
		{{ range $count, $element := where .Site.Pages "Section" ( .Title | lower ) }}
			{{ $rellink := ( trim .RelPermalink "/" ) }} 
			{{ $link_array := ( split $rellink "/" ) }}   									{{/* if and ( eq ( len $new_link_array ) 3 ) ( in $new_link_array ( index $link_array 1 ) ) */}}

			{{ if eq ( len $link_array ) 2 }}
				<div class="grid-cell grid-third">
					<div class="inner">
						<h1>{{ .Title }}</h1>
						{{ .Content }}
					</div>
				</div>
			{{ end }}
		{{ end }}
	</section><!-- /.row -->
	
</div> <!-- grid-inner -->

{{ partial "footer.html" . }}
